.footer_cont{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.left{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.left.avatar{
    color: white;    

}
left.profile_image{
    /* position:absolute; */
    bottom:0;
    left:0;
}

.right{
    /* position: absolute; */
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    gap: 20%;
}

.right.topinfo{
    /* position:absolute; */
    color:white;
    top:0;
    right: 0;

}
.bottominfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right.bottominfo.projects{
    position:relative;
    float:left;
    color:white;
    left:0;
    margin-right: 10px;
}
.right.bottominfo.socials{
    position:relative;
    float:right;
    color:white;
    right:0;
}

a{
    color:white;
}